<footer class="text-white-50 text-center">
  <p>Made with ❤️ by <a href="https://twitter.com/fukuball" class="text-white" target="_blank">@fukuball</a></p>
  <p>Donate: 0x17cbD516166720b8c75fE75235Ed0218d9CFDFbe</p>
</footer>