<header>
  <div>
    <h3 class="float-md-start mb-0 text-center">
      <a class="brand upper" href="/">
        <%= title %>
      </a>
    </h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link active" aria-current="page" href="/">Rarity</a>
      <a class="nav-link" href="#">About</a>
    </nav>
  </div>
</header>