<header>
  <div>
    <h3 class="float-md-start mb-2 text-center">
      <a class="brand upper" href="/">
        <span><%= app_name %></span>
        <svg viewBox="0 0 240 32" style="transform: rotate(-1.98402deg) scale(1);"><path d="M16.55487235924337 6.785966760316673L233.54054433797683 3.064653993031331L220.31135513840957 29.02966261786182L13.677851163473957 22.997289799385154L16.55487235924337 6.785966760316673Z" style="fill: var(--contrast);"></path></svg>
      </a>   
    </h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link <% if (activeTab == 'rarity') { %> active <% } %>" aria-current="page" href="/">Rarity</a>
      <a class="nav-link <% if (activeTab == 'matrix') { %> active <% } %>" href="/matrix">Matrix</a>
      <% if (use_wallet) { %>
      <a class="nav-link <% if (activeTab == 'wallet') { %> active <% } %>" href="/wallet">Wallet</a>
      <% } %>
    </nav>
  </div>
</header>