<div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-5" style="padding-left: 30px; padding-right: 30px;">
  <a href="#" style="text-decoration: none;">
    <div>
      <h3 class="punk-rank">Rank #<%= punk.rarity_rank %></h3>
      <img class="punk-avatar" src="<%= punk.image.replace('ipfs://', 'https://ipfs.io/ipfs/'); %>" alt="<%= punk.name %>" />
      <div class="punk-info text-center">
        <span style="font-size: var(--font-size-md); color: var(--white); text-decoration: none;"><%= punk.name %></span>
        <svg 
          viewBox="0 0 128 20" 
          class="shadow"
          style="transform: 
            <% if (punk.id % 4 == 0) { %> 
            rotate(2.10582deg) 
            <% } else if (punk.id % 4 == 1) { %> 
            rotate(-1.55956deg) 
            <% } else if (punk.id % 4 == 2) { %> 
            rotate(-2.11894deg) 
            <% } else { %> 
            rotate(-0.804652deg) 
            <% } %>
            scale(1.15);"
          >
          <path d="M18.659464617674463 5.886049064536063L104.37818072626806 10.101969738149581L113.93276709105373 19.132353769878222L21.88176277928382 18.182120128591457L18.659464617674463 5.886049064536063Z" style="fill: var(--contrast);"></path>
        </svg>
        <svg 
          viewBox="0 0 128 20" 
          style="transform: 
            <% if (punk.id % 4 == 0) { %> 
            rotate(2.10582deg) 
            <% } else if (punk.id % 4 == 1) { %> 
            rotate(-1.55956deg) 
            <% } else if (punk.id % 4 == 2) { %> 
            rotate(-2.11894deg) 
            <% } else { %> 
            rotate(-0.804652deg) 
            <% } %>
            scale(1.15);"
          >
          <path d="M18.659464617674463 5.886049064536063L104.37818072626806 10.101969738149581L113.93276709105373 19.132353769878222L21.88176277928382 18.182120128591457L18.659464617674463 5.886049064536063Z" style="fill: var(--primary);"></path>
        </svg>
      </div>
    </div>
  </a>
</div>